{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
	body{
		/*background-color: #dcdcdc;*/
		 background: url(../images/uploads/slider-bg.jpg) no-repeat;

	}
</style>
<div class="slider movie-items">
	<div class="container">
		<div class="row">
			<div class="title-hd">
					<h2 style="color: black; margin-left: 1.5%">movies recommendations</h2>
					<a href="/movielist/1/" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
	    	<div  class="slick-multiItemSlider">
	    		{% for p in recc %}
		    		<div class="movie-item">
		    			<div class="mv-img">
		    				<a href="/movie/{{p.id}}/"><img src="https://image.tmdb.org/t/p/w500{{p.poster_path}}" alt="{{p.title}}" width="285" height="437"></a>
		    			</div>
		    			<div class="title-in">
		    				<h6><a href="/movie/{{p.id}}/">{{p.title}}</a></h6>
		    				<p><i class="ion-android-star"></i><span>{{p.vote_average}}</span> /10</p>
		    			</div>
		    		</div>
		    	{% endfor %}
	    	</div>
	    </div>
	</div>
</div>
<div class="movie-items">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-12">
				<div class="title-hd">
					<h2>movies</h2>
					<a href="/movielist/1/" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					<ul class="tab-links">
						<li class="active"><a href="#tab1">Now Playing</a></li>
						<li><a href="#tab2">Popular</a></li>
						<li><a href="#tab3">Top rated</a></li>
						<li><a href="#tab4">Upcoming</a></li>                        
					</ul>
				    <div class="tab-content">
				        <div id="tab1" class="tab active">
				            <div class="row">
				            	<div class="slick-multiItem">
				            		{% for page in now %}
				            			{% for p in page %}
						            		<div class="slide-it">
						            			<div class="movie-item">
							            			<div class="mv-img">
							            				<img src="https://image.tmdb.org/t/p/w500{{p.poster_path}}" alt="" width="185" height="284">
							            			</div> 
							            			<div class="hvr-inner">
							            				<a  href="/movie/{{p.id}}/"> Read more <i class="ion-android-arrow-dropright"></i> </a>
							            			</div>
							            			<div class="title-in">
							            				<h6><a href="/movie/{{p.id}}/">{{p.original_title}}</a></h6>
							            				{% ifequal p.vote_average 0 %}
							            				<p>Not Rated</p>
							            				{% else %}
							            				<p><i class="ion-android-star"></i><span>{{p.vote_average}}</span> /10</p>
							            				{% endifequal %}
							            			</div>
							            		</div>
						            		</div>
				            			{% endfor %}
				            		{% endfor %}
				            	</div>
				            </div>
				        </div>
				        <div id="tab2" class="tab">
				            <div class="row">
				            	<div class="slick-multiItem">
				            		{% for page in pop %}
				            			{% for p in page %}
						            		<div class="slide-it">
						            			<div class="movie-item">
							            			<div class="mv-img">
							            				<img src="https://image.tmdb.org/t/p/w500{{p.poster_path}}" alt="" width="185" height="284">
							            			</div> 
							            			<div class="hvr-inner">
							            				<a  href="/movie/{{p.id}}/"> Read more <i class="ion-android-arrow-dropright"></i> </a>
							            			</div>
							            			<div class="title-in">
							            				<h6><a href="/movie/{{p.id}}/">{{p.original_title}}</a></h6>
							            				{% ifequal p.vote_average 0 %}
							            				<p>Not Rated</p>
							            				{% else %}
							            				<p><i class="ion-android-star"></i><span>{{p.vote_average}}</span> /10</p>
							            				{% endifequal %}
							            			</div>
							            		</div>
						            		</div>
										{% endfor %}
									{% endfor %}
				            	</div>
				            </div>
				        </div>
				        <div id="tab3" class="tab">
				            <div class="row">
				            	<div class="slick-multiItem">
				            		{% for page in top %}
					            		{% for p in page %}
						            		<div class="slide-it">
						            			<div class="movie-item">
							            			<div class="mv-img">
							            				<img src="https://image.tmdb.org/t/p/w500{{p.poster_path}}" alt="" width="185" height="284">
							            			</div> 
							            			<div class="hvr-inner">
							            				<a  href="/movie/{{p.id}}/"> Read more <i class="ion-android-arrow-dropright"></i> </a>
							            			</div>
							            			<div class="title-in">
							            				<h6><a href="/movie/{{p.id}}/">{{p.original_title}}</a></h6>
							            				{% ifequal p.vote_average 0 %}
							            				<p>Not Rated</p>
							            				{% else %}
							            				<p><i class="ion-android-star"></i><span>{{p.vote_average}}</span> /10</p>
							            				{% endifequal %}
							            			</div>
							            		</div>
						            		</div>
										{% endfor%}
									{% endfor%}
				            	</div>
				            </div>
				        </div>
				        <div id="tab4" class="tab">
				            <div class="row">
				            	<div class="slick-multiItem">
				            		{% for page in up %}
				            			{% for p in page %}
						            		<div class="slide-it">
						            			<div class="movie-item">
							            			<div class="mv-img">
							            				<img src="https://image.tmdb.org/t/p/w500{{p.poster_path}}" alt="" width="185" height="284">
							            			</div> 
							            			<div class="hvr-inner">
							            				<a  href="/movie/{{p.id}}/"> Read more <i class="ion-android-arrow-dropright"></i> </a>
							            			</div>
							            			<div class="title-in">
							            				<h6><a href="/movie/{{p.id}}/">{{p.original_title}}</a></h6>
							            				{% ifequal p.vote_average 0.0 %}
							            				<p>Not Rated</p>
							            				{% else %}
							            				<p><i class="ion-android-star"></i><span>{{p.vote_average}}</span> /10</p>
							            				{% endifequal %}
							            			</div>
							            		</div>
						            		</div>
					            		{% endfor %}
				            		{% endfor %}
				            	</div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="slider movie-items" style="padding-top: 3%;">
	<div class="container">
		<div class="row">
			<div class="title-hd">
				<h2 style="color: black; margin-left: 1.5%">tv shows recommendations</h2>
				<a href="/tvlist/" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
			</div>
	    	<div  class="slick-multiItemSlider">
	    		{% for p in tvrecc %}
		    		<div class="movie-item">
		    			<div class="mv-img">
		    				<a href="/movie/{{p.id}}/"><img src="https://image.tmdb.org/t/p/w500{{p.poster_path}}" alt="{{p.original_name}}" width="285" height="437"></a>
		    			</div>
		    			<div class="title-in">
		    				<h6><a href="/movie/{{p.id}}/">{{p.original_name}}</a></h6>
		    				<p><i class="ion-android-star"></i><span>{{p.vote_average}}</span> /10</p>
		    			</div>
		    		</div>
		    	{% endfor %}
	    	</div>
	    </div>
	</div>
</div>
<div class="movie-items">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-12">
				<div class="title-hd">
					<h2>tv shows </h2>
					<a href="/tvlist/" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
				</div>
				<div class="tabs">
					<ul class="tab-links">
						<li class="active"><a href="#tab1">Airing Today</a></li>
						<li><a href="#tab2">On the Air</a></li>
						<li><a href="#tab3">Popular</a></li>
						<li><a href="#tab4">Top rated</a></li>                        
					</ul>
				    <div class="tab-content">
				        <div id="tab1" class="tab active">
				            <div class="row">
				            	<div class="slick-multiItem">
				            		{% for page in airtoday %}
				            			{% for p in page %}
						            		<div class="slide-it">
						            			<div class="movie-item">
							            			<div class="mv-img">
							            				<img src="https://image.tmdb.org/t/p/w500{{p.poster_path}}" alt="" width="185" height="284">
							            			</div> 
							            			<div class="hvr-inner">
							            				<a  href="/show/{{p.id}}/"> Read more <i class="ion-android-arrow-dropright"></i> </a>
							            			</div>
							            			<div class="title-in">
							            				<h6><a href="/show/{{p.id}}/">{{p.original_name}}</a></h6>
							            				{% ifequal p.vote_average 0 %}
							            				<p>Not Rated</p>
							            				{% else %}
							            				<p><i class="ion-android-star"></i><span>{{p.vote_average}}</span> /10</p>
							            				{% endifequal %}
							            			</div>
							            		</div>
						            		</div>
					            		{% endfor %}
				            		{% endfor %}
				            	</div>
				            </div>
				        </div>
				        <div id="tab2" class="tab">
				            <div class="row">
				            	<div class="slick-multiItem">
									{% for page in air %}
				            			{% for p in page %}
						            		<div class="slide-it">
						            			<div class="movie-item">
							            			<div class="mv-img">
							            				<img src="https://image.tmdb.org/t/p/w500{{p.poster_path}}" alt="" width="185" height="284">
							            			</div> 
							            			<div class="hvr-inner">
							            				<a  href="/show/{{p.id}}/"> Read more <i class="ion-android-arrow-dropright"></i> </a>
							            			</div>
							            			<div class="title-in">
							            				<h6><a href="/show/{{p.id}}/">{{p.original_name}}</a></h6>
							            				{% ifequal p.vote_average 0 %}
							            				<p>Not Rated</p>
							            				{% else %}
							            				<p><i class="ion-android-star"></i><span>{{p.vote_average}}</span> /10</p>
							            				{% endifequal %}
							            			</div>
							            		</div>
						            		</div>
					            		{% endfor %}
				            		{% endfor %}
				            	</div>
				            </div>
				        </div>
				        <div id="tab3" class="tab">
				            <div class="row">
				            	<div class="slick-multiItem">
				            		{% for page in popular %}
				            			{% for p in page %}
						            		<div class="slide-it">
						            			<div class="movie-item">
							            			<div class="mv-img">
							            				<img src="https://image.tmdb.org/t/p/w500{{p.poster_path}}" alt="" width="185" height="284">
							            			</div> 
							            			<div class="hvr-inner">
							            				<a  href="/show/{{p.id}}/"> Read more <i class="ion-android-arrow-dropright"></i> </a>
							            			</div>
							            			<div class="title-in">
							            				<h6><a href="/show/{{p.id}}/">{{p.original_name}}</a></h6>
							            				{% ifequal p.vote_average 0 %}
							            				<p>Not Rated</p>
							            				{% else %}
							            				<p><i class="ion-android-star"></i><span>{{p.vote_average}}</span> /10</p>
							            				{% endifequal %}
							            			</div>
							            		</div>
						            		</div>
					            		{% endfor %}
				            		{% endfor %}
				            	</div>
				            </div>
				        </div>
				        <div id="tab4" class="tab">
				            <div class="row">
				            	<div class="slick-multiItem">
				            		{% for page in toprate %}
				            			{% for p in page %}
						            		<div class="slide-it">
						            			<div class="movie-item">
							            			<div class="mv-img">
							            				<img src="https://image.tmdb.org/t/p/w500{{p.poster_path}}" alt="" width="185" height="284">
							            			</div> 
							            			<div class="hvr-inner">
							            				<a  href="/show/{{p.id}}/"> Read more <i class="ion-android-arrow-dropright"></i> </a>
							            			</div>
							            			<div class="title-in">
							            				<h6><a href="/show/{{p.id}}/">{{p.original_name}}</a></h6>
							            				{% ifequal p.vote_average 0 %}
							            				<p>Not Rated</p>
							            				{% else %}
							            				<p><i class="ion-android-star"></i><span>{{p.vote_average}}</span> /10</p>
							            				{% endifequal %}
							            			</div>
							            		</div>
						            		</div>
					            		{% endfor %}
				            		{% endfor %}
				            	</div>
				            </div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}