{% extends 'base.html' %}
{% load static %}
{% block content %}
<script type="text/javascript">
	
  	function c(id) {
  		console.log(id);
  		console.log('hello');
  		$.ajax({
			url: '/add_watchlist/'+id+'/',
			type: 'POST',
			dataType: 'json',
			data: {},
			success: function(data) {
				console.log(data);
				$('#watch').innerHTML = 'Added to Watchlist';
			}
		});
	}
	function d(id) {
  		console.log(id);
  		$.ajax({
			url: '/add_seenlist/'+id+'/',
			type: 'POST',
			dataType: 'json',
			data: {},
			success: function(data) {
				console.log(data);
				$('#seen').innerHTML = 'Added to Seenlist';
			}
		});
	}
</script>
<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="https://image.tmdb.org/t/p/w500{{detail.backdrop_path}}" alt="">
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a onclick="c( {{detail.id}} )" id="watch" class="item redbtn"> <i class="ion-play"></i>Add to watchlist</a></div>
							<!-- <div><a href="#" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div> -->
						</div>
						<div class="btn-transform transform-vertical">
							<div><a onclick="d( {{detail.id}} )" id="seen" class="item yellowbtn"> <i class="ion-card"></i>Have seen before</a></div>
							<!-- <div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i></a></div> -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{detail.original_title}}<span> {{date}}</span></h1>
					<div class="social-btn">
						<a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
						<div class="hover-bnt">
							<a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
							<div class="hvr-item">
								<a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
								<a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
							</div>
						</div>		
					</div>
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>{{detail.vote_average}}</span> /10<br>
								<!-- <span class="rv">56 Reviews</span> -->
							</p>
						</div>
						<div class="rate-star">
							<p>Rate This Movie:  </p>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star"></i>
							<i class="ion-ios-star-outline"></i>
						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#reviews"> Reviews</a></li>
								<li><a href="#cast">  Cast & Crew </a></li>
								<li><a href="#moviesrelated"> Related Movies</a></li>                        
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{detail.overview}}</p>
											<div class="title-hd-sm">
												<h4>cast</h4>
												<a href="#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">
											{% for c in casto %}
													<div class="cast-it">
														<div class="cast-left">
															<img src="images/uploads/cast1.jpg" alt="">
															<a href="#">{{c.name}}</a>
														</div>
														<p>...  {{c.character}}</p>
													</div>
												{% endfor %}
											</div>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Director: </h6>
						            			<p><a href="#">{{director.name}}</a></p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Writer: </h6>
						            			<p>
						            				{% for w in writers %}
						            				<a href="#">{{w.name}},</a>
						            				{% endfor %}
						            			</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Stars: </h6>
						            			<p>
						            				{% for c in cast %}
						            				<a href="#">{{c.name}},</a>
						            				{% endfor %}
						            			</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
						            			<p>
						            				{% for g in detail.genres %}
						            				<a href="#">{{g.name}}, </a>
						            				{% endfor %}
						            			</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>{{detail.release_date}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p>{{detail.runtime}} min</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Plot Keywords:</h6>
						            			<p class="tags">
						            				<span class="time"><a href="#">superhero</a></span>
													<span class="time"><a href="#">marvel universe</a></span>
													<span class="time"><a href="#">comic</a></span>
													<span class="time"><a href="#">blockbuster</a></span>
													<span class="time"><a href="#">final battle</a></span>
						            			</p>
						            		</div>
						            		<div class="ads">
												<img src="images/uploads/ads1.png" alt="">
											</div>
						            	</div>
						            </div>
						        </div>
						        <div id="reviews" class="tab review">
						           <div class="row">
						            	<div class="rv-hd">
						            		<div class="div">
							            		<h3>User Reviews of</h3>
						       	 				<h2>{{detail.original_title}}</h2>
							            	</div>
							            	<!-- <a href="#" class="redbtn">Write Review</a> -->
						            	</div>
						            	<div class="topbar-filter">
											<p>Found <span>{{reviews|length}} reviews</span> in total</p>
										</div>
										{% for rev in reviews %}
										<div class="mv-user-review-item">
											<div class="user-infor">
												<!-- <img src="images/uploads/userava1.jpg" alt=""> -->
												<div>
													<h3>{{rev.author}}'s Review...</h3>
													<!-- <div class="no-star">
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star"></i>
														<i class="ion-android-star last"></i>
													</div>
													<p class="time">
														17 December 2016 by <a href="#">{{rev.author}}</a>
													</p> -->
												</div>
											</div>
											<p>{{rev.content}}</p>
										</div>
										{% endfor %}
										<div class="topbar-filter">
											<label>Reviews per page:</label>
											<select>
												<option value="range">5 Reviews</option>
												<option value="saab">10 Reviews</option>
											</select>
											<div class="pagination2">
												<span>Page 1 of 6:</span>
												<a class="active" href="#">1</a>
												<a href="#">2</a>
												<a href="#">3</a>
												<a href="#">4</a>
												<a href="#">5</a>
												<a href="#">6</a>
												<a href="#"><i class="ion-arrow-right-b"></i></a>
											</div>
										</div>
						            </div>
						        </div>
						        <div id="cast" class="tab">
						        	<div class="row">
						            	<h3>Cast & Crew of</h3>
					       	 			<h2>{{detail.original_title}}</h2>
										<!-- //== -->
					       	 			<div class="title-hd-sm">
											<h4>Director</h4>
										</div>
										<div class="mvcast-item">											
											<div class="cast-it">
												<div class="cast-left">
													<a href="#">{{director.name}}</a>
												</div>
												<p>...  Director</p>
											</div>
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Writers</h4>
										</div>
										<div class="mvcast-item">											
											{% for w in writers %}
											<div class="cast-it">
												<div class="cast-left">
													<!-- <h4>SL</h4> -->
													<a href="#">{{w.name}}</a>
												</div>
												<p>...  {{w.job}}</p>
											</div>
											{% endfor %}
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Cast</h4>
										</div>
										<div class="mvcast-item">											
											{% for c in cast%}
											<div class="cast-it">
												<div class="cast-left">
													<img src="images/uploads/cast1.jpg" alt="">
													<a href="#">{{c.name}}</a>
												</div>
												<p>...  {{c.character}}</p>
											</div>
											{% endfor%}
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Produced by</h4>
										</div>
										<div class="mvcast-item">	
											{% for p in producers %}
												<div class="cast-it">
													<div class="cast-left">
														<!-- <h4>VA</h4> -->
														<a href="#">{{p.name}}</a>
													</div>
													<p>...  {{p.job}}</p>
												</div>
											{% endfor %}
										</div>
						            </div>
					       	 	</div>
					       	 	<div id="moviesrelated" class="tab">
					       	 		<div class="row">
					       	 			<h3>Related Movies To</h3>
					       	 			<h2>{{detail.original_title}}</h2>
					       	 			<div class="topbar-filter">
											<p>Found <span>12 movies</span> in total</p>
											<label>Sort by:</label>
											<select>
												<option value="popularity">Popularity Descending</option>
												<option value="popularity">Popularity Ascending</option>
												<option value="rating">Rating Descending</option>
												<option value="rating">Rating Ascending</option>
												<option value="date">Release date Descending</option>
												<option value="date">Release date Ascending</option>
											</select>
										</div>
										{% for mov in movsim %}
										<div class="movie-item-style-2">
											<img src="https://image.tmdb.org/t/p/w500{{mov.poster_path}}" alt="" style="width: 25%">
											<div class="mv-item-infor">
												<h6>
													<a href="/movie/{{mov.id}}">{{mov.original_title}}
														<span>(2012)</span>
													</a>
												</h6>
												<p class="rate"><i class="ion-android-star"></i><span>{{mov.vote_average}}</span> /10</p>
												<p class="describe">{{mov.overview}}</p>
												<p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
												<p>Director: <a href="#">Joss Whedon</a></p>
												<p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">  Chris Hemsworth</a></p>
											</div>
										</div>
										{% endfor %}
										<div class="topbar-filter">
											<label>Movies per page:</label>
											<select>
												<option value="range">5 Movies</option>
												<option value="saab">10 Movies</option>
											</select>
											<div class="pagination2">
												<span>Page 1 of 2:</span>
												<a class="active" href="#">1</a>
												<a href="#">2</a>
												<a href="#"><i class="ion-arrow-right-b"></i></a>
											</div>
										</div>
					       	 		</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}