{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1 style="margin-right: 10%">{{request.user.first_name}}’s profile</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Profile</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img">
						<a href="#"><img src="images/uploads/user-img.png" alt=""><br></a>
						<a href="#" class="redbtn">Change avatar</a>
					</div>
					<div class="user-fav">
						<p>Account Details</p>
						<ul>
							<li class="active"><a href="#">Profile</a></li>
							<li><a href="/movieseenlist/">Seenlist - Movies</a></li>
							<li><a href="/moviewatchlist/">Watchlist - Movies</a></li>
							<li><a href="/tvseenlist/">Seenlist - TV</a></li>
							<li><a href="/tvwatchlist/">Watchlist - TV</a></li>
							<li><a href="/logout/">Log out</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="form-style-1 user-pro" action="#">
					<h4 style="color: white;">{{msg}}</h4>
					<form action="#" method="post" class="user">
						{% csrf_token %}
						<h4>Profile details</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Username</label>
								<input type="text" name= "username" value="{{request.user}}">
							</div>
							<div class="col-md-6 form-it">
								<label>Country</label>
								<input type="text" name="country" value="{{profile.country}}">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>First Name</label>
								<input type="text" name="fname" value="{{request.user.first_name}}">
							</div>
							<div class="col-md-6 form-it">
								<label>Last Name</label>
								<input type="text" name="lname" value="{{request.user.last_name}}">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" name="change_data" type="submit" value="save">
							</div>
						</div>	
					</form>
					<form action="#" method="POST" class="password">
						{% csrf_token %}
						<h4>02. Change password</h4>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>New Password</label>
								<input type="text" name="pass1" placeholder="***************">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 form-it">
								<label>Confirm New Password</label>
								<input type="text" name="pass2" placeholder="*************** ">
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<input class="submit" name="change_pass" type="submit" value="change">
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}