{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style type="text/css">
	body {
		background: url(../images/uploads/ft-bg.jpg) no-repeat;
	}
</style>

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Search results for "<span style="color: #dcf836;">{{ s }}</span>"</h1>
					<h2 style="color: white"> In 
						{% if t == 'movie' %}
							Movies
						{% else %}
							TV
						{% endif %}
					</h2>
					<br>
					<ul class="breadcumb">
						<li><a href="/">Home</a></li>
						<li><span class="ion-ios-arrow-right"></span> search</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single movie_list">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Found <span>{{results|length}}</span> Matches in total</p>
					<label>Sort by:</label>
					<select>
						<option value="popularity">Popularity Descending</option>
						<option value="popularity">Popularity Ascending</option>
						<option value="rating">Rating Descending</option>
						<option value="rating">Rating Ascending</option>
						<option value="date">Release date Descending</option>
						<option value="date">Release date Ascending</option>
					</select>
					<a href="movielist.html" class="list"><i class="ion-ios-list-outline active"></i></a>
					<a  href="moviegrid.html" class="grid"><i class="ion-grid"></i></a>
				</div>
					{% for m in results %}
					<div class="movie-item-style-2">
						<div class="row">
							<div class="col-md-3">
								{% if t == 'movie' %}
									{% if m.poster_path %}
									<a href="/moviesingle/{{m.id}}/"><img src="https://image.tmdb.org/t/p/w500{{m.poster_path}}" alt="{{m.original_title}}" style="max-height: 100%"></a>
									{% else %}
									<a href="/moviesingle/{{m.id}}/"><img src="{% static 'images/notfound1.jpeg' %}" alt="{{m.original_title}}" style="width: 100%;max-height: 100%"></a>
									{% endif %}
								{% else %}
									<a href="/show/{{m.id}}/"><img src="https://image.tmdb.org/t/p/w500{{m.poster_path}}" alt="{{m.name}}" style="max-height: 100%"></a>
								{% endif %}
							</div>
							<div class="col-md-9">
								<div class="mv-item-infor">
									{% if t == 'movie' %}
										<h6><a href="/movie/{{m.id}}/">
											{{m.title}}
										</a></h6>
									{% else %}
										<h6><a href="/show/{{m.id}}/">
											{{m.name}}
										</a></h6>
									{% endif %}
									<p class="rate"><i class="ion-android-star"></i><span>{{m.vote_average}}</span> /10</p>
									<p class="describe">{{m.overview}}</p>
									<p class="run-time"> 
									{% if t == 'movie' %}
										Release: {{m.release_date}}
									{% else %}
										Release: {{m.first_air_date}}
									{% endif %}
									
									</span></p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				<div class="topbar-filter">
					<label>Movies per page:</label>
					<select>
						<option value="range">5 Movies</option>
						<option value="saab">10 Movies</option>
					</select>
					<div class="pagination2">
						<span>Page 1 of 2:</span>
						<a class="active" href="#">1</a>
						<a href="#">2</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
{% endblock %}