{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1 style="margin-right: 10%">{{request.user.first_name}}’s Seenlist</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Seen Shows</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single userfav_list">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img">
						<a href="#"><img src="{% static 'images/uploads/user-img.png' %}" alt=""><br></a>
						<a href="#" class="redbtn">Change avatar</a>
					</div>
					<div class="user-fav">
						<p>Account Details</p>
						<ul>
							<li><a href="/profile/">Profile</a></li>
							<li><a href="/movieseenlist/">Seenlist - Movies</a></li>
							<li><a href="/moviewatchlist/">Watchlist - Movies</a></li>
							<li class="active"><a href="#">Seenlist - TV</a></li>
							<li ><a href="/tvwatchlist/">Watchlist - TV</a></li>
							<li><a href="/logout/">Log out</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="col-md-9 col-sm-12 col-xs-12">
				{% ifequal seenTV|length 0 %}
			<h2>You have not added anything to your Seenlist!</h2>
			{% else %}
				<div class="topbar-filter user">
					<p>Found <span>{{seenTV|length}} shows</span> in total</p>
				</div>
				<div class="flex-wrap-movielist user-fav-list">
					{% for w in seenTV %}
					{% if w.tv.name %}
					<div class="movie-item-style-2">
						<img src="{{w.tv.pic}}" alt="{{w.tv.name}}" style="width: 25%;">
						<div class="mv-item-infor">
							<h6><a href="/show/{{w.tv.tv_id}}/">{{w.tv.name}}<span>({{w.tv.date}})</span></a></h6>
							<p class="rate"><i class="ion-android-star"></i><span>{{w.rate}}</span> /10 (You have rated this movie)</p>
							<p class="describe">{{w.tv.overview}}</p>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>		
				<div class="topbar-filter">					
					<div class="pagination2">
						<span>Page 1 of 2:</span>
						<a class="active" href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">...</a>
						<a href="#">78</a>
						<a href="#">79</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div>
			{% endifequal %}
			</div>
			
		</div>
	</div>
</div>
{% endblock %}