{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	function f(id){
		swal({
	  title: "You have seen this movie",
	  text: "How much would you rate it",
	  content: "input",
	  buttons: true,
	})
	.then((value) => {
	    swal(`You rated ${value}`, {
	      icon: "success",
	    });
	    data={'u_rate':value}
	    $.ajax({
			url: '/add_seenlist2/'+id+'/',
			type: 'POST',
			dataType: 'json',
			data: JSON.stringify(data),
			success: function(data) {
			}
		});
	});
	}
</script>
<script>
	function w(id)
	{
		
		$.ajax({
			url: '/add_watchlist2/'+id+'/',
			type: 'POST',
			dataType: 'json',
			data: {},
			success: function(data) {
				console.log(data);
				swal(data.success, 
					{
						icon:"success",
					}
				)
			}
		});
	}
</script>
<div class="hero sr-single-hero sr-single">
	<img src="https://image.tmdb.org/t/p/w500{{detail.backdrop_path}}" style="width:10000px; height: 598px">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="https://image.tmdb.org/t/p/w500{{detail.poster_path}}" alt="">
					<!-- <div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item redbtn"> <i class="ion-play"></i>Watch Trailer</a></div>
							<div><a href="#" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
						<div class="btn-transform transform-vertical">
							<div><a id="seen" class="item yellowbtn" onclick="f( {{detail.id}} );")> <i class="ion-card"></i>Have seen before</a></div>
							
						</div>
					</div> -->
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{detail.name}}<span> {{date}} - {{enddate}}</span></h1>
					<div class="social-btn">
						<div class="social-btn">
						<div><a href="#" onclick="w( {{ detail.id }} );" id="watch" class="parent-btn"><i class="ion-heart"></i> Add to Watchlist</a></div>
						<div><a href="#" onclick="f( {{detail.id}} );"" id="watch" class="parent-btn"><i class="ion-eye"></i> Have Seen Before</a></div>
						<div>
							<a class="parent-btn" style="font-size: 16px"><i class="ion-star"></i>{{detail.vote_average}}/10</a>
						</div>		
					</div>	
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv tabs-series">
								<li class="active"><a href="#overview">Overview</a></li>
								<li><a href="#cast">  Cast & Crew </a></li>
								<li><a href="#season"> Season</a></li> 
								<li ><a href="#moviesrelated"> Related Shows</a></li>                        
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{detail.overview}}</p>
						            		<div class="title-hd-sm">
						            			{% ifequal detail.status "Returning Series" %}
												<h4>Current Season</h4>
												{% else %}
												<h4>Last Season</h4>
												{% endifequal %}
												<a href="#" class="time">View All Seasons <i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">											
												<div class="cast-it">
													<div class="cast-left series-it">
														<img src="https://image.tmdb.org/t/p/w500{{curr.poster_path}}" alt="" style="width:25%">
														<div>
															<a>Season {{curr.season_number}}</a>
															<p style="width: 100%">There are {{curr.episode_count}} episodes in this season</p>
															<p style="width: 100%">It first aired on {{currairdate}} and the last episode came out on {{currlastdate}}</p>
														</div>	
													</div>											
												</div>	
											</div>
											<div class="title-hd-sm">
												<h4>cast</h4>
												<a href="#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
											</div>
											<!-- movie cast -->
											<div class="mvcast-item">											
												{%for c in cast %}
												<div class="cast-it">
													<div class="cast-left">
														<p>{{c.name}}</p>
													</div>
													<p>...  {{c.character}}</p>
												</div>
												{% endfor %}
											</div>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		{% ifnotequal director '' %}
						            		<div class="sb-it">
						            			<h6>Director: </h6>
						            			<p><a href="#">{{director}}</a></p>
						            		</div>
						            		{% endifnotequal %}
						            		{% ifnotequal writers|length 0 %}
						            		<div class="sb-it">
						            			<h6>Writer: </h6>
						            			<p>
						            				{% for w in writers %}
						            				<span>{{w.name}},</span>
						            				{%endfor%}
						            			</p>
						            		</div>
						            		{% endifnotequal %}
						            		<div class="sb-it">
						            			<h6>Stars: </h6>
						            			<p>
						            				{% for c in cast %}
						            				<span>{{c.name}},</span>
						            				{% endfor %}
						            			</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
						            			<p>
						            				{% for g in detail.genres %}
						            				<span>{{g.name}}, </span>
						            				{% endfor %}
						            			</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>{{reldate}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Average Episode Run Time:</h6>
						            			{%for r in detail.episode_run_time %}
						            			<p>{{r}} min</p>
						            			{% endfor %}
						            		</div>
						            		<!-- <div class="sb-it">
						            			<h6>MMPA Rating:</h6>
						            			<p>TV-14</p>
						            		</div> -->
						            		<!-- <div class="sb-it">
						            			<h6>Plot Keywords:</h6>
						            			<p class="tags">
						            				{% for key in keywords %}
						            				<span class="time"><a href="#">{{key.name}}</a></span>
						            				{% endfor %}
						            			</p>
						            		</div> -->
						            	</div>
						            </div>
						        </div>
						        <div id="cast" class="tab">
						        	<div class="row">
						            	<h3>Cast & Crew of</h3>
					       	 			<h2>{{detail.name}}</h2>
										<!-- //== -->
					       	 			<div class="title-hd-sm">
											<h4>Director</h4>
										</div>
										<div class="mvcast-item">											
											<div class="cast-it">
												<div class="cast-left">
													<a href="#">{{director}}</a>
												</div>
												<p>...  Director</p>
											</div>
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Writers</h4>
										</div>
										<div class="mvcast-item">	
											{% for w in writers%}										
											<div class="cast-it">
												<div class="cast-left">
													<a href="#">{{w.name}}</a>
												</div>
												<p>...  {{w.job}}</p>
											</div>
											{% endfor %}
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Cast</h4>
										</div>
										<div class="mvcast-item">
											{% for c in cast %}											
											<div class="cast-it">
												<div class="cast-left">
													<img src="images/uploads/cast1.jpg" alt="">
													<a href="#">{{c.name}}</a>
												</div>
												<p>...  {{c.character}}</p>
											</div>
											{% endfor %}
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Produced by</h4>
										</div>
										<div class="mvcast-item">
											{% for p in producers %}
											<div class="cast-it">
												<div class="cast-left">
													<a href="#">{{p.name}}</a>
												</div>
												<p>...  {{p.job}}</p>
											</div>
											{% endfor %}
										</div>
						            </div>
					       	 	</div>
					       	 	<div id="season" class="tab">
					       	 		<div class="row">
					       	 			{% for season in seasons %}
					       	 			<div class="mvcast-item">											
											<div class="cast-it">
												<div class="cast-left series-it">
													<img src="https://image.tmdb.org/t/p/w500{{season.poster_path}}" alt="" style="width: 25%">
													<div>
														<a href="#">Season {{season.season_number}}</a>
														<p style="width: 100%">There are {{season.episode_count}} episodes in this season</p>
														<p style="width: 100%">It first aired on {{season.air_date}}.</p>
													</div>	
												</div>											
											</div>	
										</div>
										{% endfor %}
					       	 		</div>
					       	 	</div>
					       	 	<div id="moviesrelated" class="tab">
					       	 		<div class="row">
					       	 			<h3>Related Shows To</h3>
					       	 			<h2>{{detail.name}}</h2>
					       	 			<div class="topbar-filter">
											<p>Found <span>12 movies</span> in total</p>
										</div>
										{% for sim in showsim %}
										<div class="movie-item-style-2">
											<img src="https://image.tmdb.org/t/p/w500{{sim.poster_path}}" alt="" style="width:25%">
											<div class="mv-item-infor">
												<h6><a href="/show/{{sim.id}}">{{sim.original_name}} <span>(2012)</span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>{{sim.vote_average}}</span> /10</p>
												<p class="describe">{{sim.overview}}</p>
											</div>
										</div>
										{%endfor%}
					       	 		</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}