{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
	.abc{
		font-family: 'Dosis', sans-serif;
		border-color: #dd003f;
	   	text-transform: uppercase;
	    border-radiusus: 3px !important;
	    background: #dd003f;
    	color: white;
    	height: 30px;
    	width: 175%;
    	margin-left: -55%;
    	margin-top: 1px;
	}
</style>

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> tv listing - grid</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> tv listing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Found <span>200 matches</span> in total</p>
					<label style="">Sort by:</label>
					<form method="POST" action="/tvlist/1/">
					{% csrf_token %}
						<div class="col-md-9">
							<select name="filter" id='filter'>
								<option value="1" >Popularity</option>
								<option value="2" >Rating</option>
								<option value="3" >Release date</option>
								<option value="4" >A-Z</option>
								<option value="5" >Z-A</option>
							</select>
						</div>
						<div class="col-md-3">
							<input class="submit abc" type="submit" value="submit">
						</div>
					</form>
				</div>
				<div class="flex-wrap-movielist">
					{% for m in results %}
						<div class="movie-item-style-2 movie-item-style-1">
							<img src="https://image.tmdb.org/t/p/w500{{m.poster_path}}" alt="">
							<div class="hvr-inner">
	            				<a  href="/show/{{m.id}}/"> Read more <i class="ion-android-arrow-dropright"></i> </a>
	            			</div>
							<div class="mv-item-infor">
								<h6><a href="/show/{{m.id}}/">{{m.name}}</a></h6>
								<p class="rate"><i class="ion-android-star"></i><span>{{m.vote_average}}</span> /10</p>
							</div>
						</div>					
					{% endfor %}
				</div>		
				<div class="topbar-filter">
					<div style="margin-left: 12.5%;" class="pagination2">
						<span>Page 1 of 10:</span>
						{% for i in pageNumbers %}
						<a {% ifequal i page %} class="active" {% endifequal %} href="/tvlist/{{i}}/">{{i}}</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="searh-form">
						<h4 class="sb-title">Search for tv</h4>
						<form class="form-style-1" action="#">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Name</label>
									<input type="text" placeholder="Enter keywords">
								</div>
								<div class="col-md-12 form-it">
									<label>Genres & Subgenres</label>
									<div class="group-ip">
										<select
											name="skills" multiple="" class="ui fluid dropdown">
											<option value="">Enter to filter genres</option>
											<option value="Action1">Action 1</option>
					                        <option value="Action2">Action 2</option>
					                        <option value="Action3">Action 3</option>
					                        <option value="Action4">Action 4</option>
					                        <option value="Action5">Action 5</option>
										</select>
									</div>	
								</div>
								<div class="col-md-12 form-it">
									<label>Rating Range</label>
									<select>
									  <option value="range">-- Select the rating range below --</option>
									  <option value="saab">-- Select the rating range below --</option>
									</select>
								</div>
								<div class="col-md-12 form-it">
									<label>Release Year</label>
									<div class="row">
										<div class="col-md-6">
											<select>
											  <option value="range">From</option>
											  <option value="number">10</option>
											</select>
										</div>
										<div class="col-md-6">
											<select>
											  <option value="range">To</option>
											  <option value="number">20</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
		document.getElementById('filter').value = parseInt({{ t }}) ;
		console.log({{t}});
</script>
{% endblock %}