{% extends 'base.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	.apna {
		font-family: 'Nunito', sans-serif;
	    font-size: 12px;
	    color: #ffffff;
	    width: 10%;
	    margin: 0.5em;
	    font-weight: 300;
	    text-transform: none;
	    background-color: #dd003f;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    height: 30px;
	    padding: 10px;
	    text-align: center;
	}
	.abc{
		font-family: 'Dosis', sans-serif;
		border-color: #dd003f;
	   	text-transform: uppercase;
	    border-radiusus: 3px !important;
	    background: #dd003f;
    	color: white;
    	height: 30px;
    	width: 175%;
    	margin-left: -55%;
    	margin-top: 1px;
	}
</style>

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> tv listing - grid</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> tv listing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
	<h4 style="color: white;"> Filters Applied: </h4>
		{% if string %}
			<h4 style="color: white;">Name:</h4> <h4 class="apna">{{string}}</h4>
		{% endif %}
		<br>
		
		{% ifnotequal genress ''%}
			<h4 style="color: white;">Genres: </h4>
				{% for i in genress %}
					<h4 class="apna">{{i}}</h4>
				{% endfor %}
		{% endifnotequal %}
		<br>
		{% if ratingss %}
			<h4 style="color: white;">Rating Range: </h4><h4 class="apna">{{ratingss}}</h4>
		{% endif %}
		<br>
		<div class="row ipad-width">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p>Found <span>{{tpages}} pages</span> in total</p>
					<label style="">Sort by:</label>
					<form method="POST" action="/tvlist/1/">
					{% csrf_token %}
						<div class="col-md-9">
							<select name="filter" id='filter'>
								<option value="1" >Popularity</option>
								<option value="2" >Rating</option>
								<option value="3" >Release date</option>
								<option value="4" >A-Z</option>
								<option value="5" >Z-A</option>
							</select>
						</div>
						<div class="col-md-3">
							<input class="submit abc" type="submit" value="submit">
						</div>
					</form>
				</div>
				<div class="flex-wrap-movielist">
					{% for m in results %}
						<div class="movie-item-style-2 movie-item-style-1">
							<img src="https://image.tmdb.org/t/p/w500{{m.poster_path}}" alt="">
							<div class="hvr-inner">
	            				<a  href="/show/{{m.id}}/"> Read more <i class="ion-android-arrow-dropright"></i> </a>
	            			</div>
							<div class="mv-item-infor">
								<h6><a href="/show/{{m.id}}/">{{m.name}}</a></h6>
								<p class="rate"><i class="ion-android-star"></i><span>{{m.vote_average}}</span> /10</p>
							</div>
						</div>					
					{% endfor %}
				</div>		
				<div class="topbar-filter">
					<div style="margin-left: 12.5%;" class="pagination2">
						<span>Page 1 of {{tpages}}:</span>
						{% for i in pageNumbers %}
						<a {% ifequal i page %} class="active" {% endifequal %} href="/tvlist/{{i}}/">{{i}}</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="searh-form">
						<h4 class="sb-title">Search for tv</h4>
						<form class="form-style-1" action="/tvlist/{{page}}" method="GET">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Name</label>
									<input type="text" name="name" placeholder="Enter keywords">
								</div>
								<div class="col-md-12 form-it">
									<label>Genres</label>
									<div class="group-ip">
										<select
											name="g" id="genres" multiple="" class="ui fluid dropdown">
					                        <option value="Action">Action</option>
					                        <option value="Adventure">Adventure</option>
					                        <option value="Animation">Animation</option>
					                        <option value="Comedy">Comedy</option>
					                        <option value="Crime">Crime</option>
					                        <option value="Documentary">Documentary</option>
					                        <option value="Drama">Drama</option>
					                        <option value="Family">Family</option>
					                        <option value="Fantasy">Fantasy</option>
					                        <option value="History">History</option>
					                        <option value="Horror">Horror</option>
					                        <option value="Music">Music</option>
					                        <option value="Mystery">Mystery</option>
					                        <option value="Romance">Romance</option>
					                        <option value="Science Fiction">Science Fiction</option>
					                        <option value="TV Movie">TV Movie</option>
					                        <option value="Thriller">Thriller</option>
					                        <option value="War">War</option>
					                        <option value="Western">Western</option>
										</select>
									</div>	
								</div>
								<div class="col-md-12 form-it">
									<label>Rating Range</label>
									<select id=ratings name="r">
									  <option value=""></option>
									  <option value="6-10">6-10</option>
									  <option value="3-6">3-6</option>
									  <option value="0-3">0-3</option>
									</select>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
		document.getElementById('filter').value = parseInt({{ t }}) ;
		console.log({{t}});
</script>
{% endblock %}