{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	function f(id){
		swal({
	  title: "You have seen this movie",
	  text: "How much would you rate it",
	  content: "input",
	  buttons: true,
	})
	.then((value) => {
	    swal(`You rated ${value}`, {
	      icon: "success",
	    });
	    data={'u_rate':value}
	    $.ajax({
			url: '/add_seenlist2/'+id+'/',
			type: 'POST',
			dataType: 'json',
			data: JSON.stringify(data),
			success: function(data) {
				setTimeout(function(){
				   window.location.reload(1);
				}, 500);
			}
		});
	});
	}
</script>
<style type="text/css">
	.abc{
		font-family: 'Dosis', sans-serif;
		border-color: #dd003f;
	   	text-transform: uppercase;
	    border-radiusus: 3px !important;
	    background: #dd003f;
    	color: white;
    	height: 30px;
    	width: 175%;
    	margin-left: -55%;
    	margin-top: 1px;
	}
</style>
<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1 style="margin-right: 10%">{{request.user.first_name}}’s Watchlist</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Watchlist TV</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single userfav_list">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="user-information">
					<div class="user-img">
						<a href="#"><img src="{% static 'images/uploads/user-img.png' %}" alt=""><br></a>
						<a href="#" class="redbtn">Change avatar</a>
					</div>
					<div class="user-fav">
						<p>Account Details</p>
						<ul>
							<li><a href="/profile/">Profile</a></li>
							<li><a href="/movieseenlist/">Seenlist - Movies</a></li>
							<li><a href="/moviewatchlist/">Watchlist - Movies</a></li>
							<li><a href="/tvseenlist/">Seenlist - TV</a></li>
							<li class="active"><a href="#">Watchlist - TV</a></li>
							<li><a href="/logout/">Log out</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-sm-12 col-xs-12">
				{% ifequal watchTV|length 0 %}
				<h2>You have not added anything to your Watchlist!</h2>
				{% else %}
				<div class="topbar-filter">
					<p>Found <span>{{watchTV|length}} shows</span> in total</p>
					<label style="">Sort by:</label>
					<form method="POST" action="/tvwatchlist/">
					{% csrf_token %}
						<div class="col-md-9">
							<select name="filter" id='filter'>
								<option value="1">Recent</option>
								<option value="2">Most Recommended</option>
							</select>
						</div>
						<div class="col-md-3">
							<input class="submit abc" type="submit" value="submit">
						</div>
					</form>
				</div>
				<div class="flex-wrap-movielist user-fav-list">
					{% for w in watchTV %}
					{% if w.tv.name %}
					<div class="movie-item-style-2">
						<img src="{{w.tv.pic}}" alt="{{w.tv.name}}" style="width: 25%;">
						<div class="mv-item-infor">
							<h6><a href="/show/{{w.m_id}}/">{{w.tv.name}}<span>({{w.tv.date}})</span></a></h6>
							<p class="rate"><i class="ion-android-star"></i><span>{{w.tv.d_rating}}</span> /10</p>
							<p class="describe">{{w.tv.overview}}</p>
							<p class="rate">We predict you will rate this tv a <i class="ion-android-star"></i><span>4</span> /10</p>
							<br>
							<a onclick="f( {{w.tv.tv_id}} )" class="redbtn" style="text-align: center; width:30%">Move to Seenlist</a>
						</div>
					</div>

					{% endif %}
					{% endfor %}
				</div>		
				<div class="topbar-filter">
					<div class="pagination2">
						<span>Page 1 of 2:</span>
						<a class="active" href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">...</a>
						<a href="#">78</a>
						<a href="#">79</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div>
				{% endifequal %}
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
		document.getElementById('filter').value = parseInt({{ t }}) ;
</script>
{% endblock %}